@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav .top_nav {
  background: #1e3842;
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
}
nav .top_nav span,
nav .top_nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}
nav .top_nav .top_nav_left {
  padding: 12px 0;
  float: left;
}
nav .top_nav .top_nav_right {
  padding: 12px 0;
  float: right;
}
nav .top_nav i {
  color: #ffd059;
  margin-right: 5px;
}
nav .main_nav .container {
  padding: 20px 0;
}
nav .main_nav .container img {
  width: 10%;
  height: auto;
  float: left;
}
nav .main_nav .container div {
  display: inline-block;
  padding-left: 20px;
  width: 80%;
}
nav .main_nav .container div span {
  display: block;
}
nav .main_nav .container div .institution_name {
  font-size: 3rem;
  color: #1e3842;
  font-weight: 400;
}
nav .main_nav .container div .institution_name span {
  display: inline;
  font-weight: 700;
}
nav .main_nav .container div .institution_motto {
  font-size: 1.3rem;
  color: #1e3842;
  background-color: #fff;
  font-style: italic;
}
nav .toggle {
  display: none;
  text-align: center;
}
nav .toggle .toggle_btn {
  font-size: 25px;
  border: 1px solid #2a4f5f;
  padding: 5px 30px;
}
nav #toggleTrigger {
  display: none;
}
nav #toggleTrigger:checked ~ .bottom_nav {
  max-height: 9999px !important;
}
nav .bottom_nav {
  text-align: center;
  max-height: 9999px;
  transition: all 0.3s linear;
}
nav .bottom_nav li {
  display: inline-block;
  position: relative;
}
nav .bottom_nav li a {
  display: inline-block;
  color: #1e3842;
  text-decoration: none;
  padding: 15px;
}
nav .bottom_nav li::after {
  content: "";
  position: absolute;
  height: 60%;
  width: 1px;
  left: 100%;
  top: 20%;
  background-color: #999;
}
nav .bottom_nav li:last-child::after {
  display: none;
}
nav .bottom_nav li:hover > ul {
  max-height: 999px;
}
nav .bottom_nav li > ul {
  display: inline-block;
  overflow: hidden;
  max-height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  background: #1e3842;
  transition: all 0.2s linear;
  padding: 0;
  min-width: 200px;
  border-radius: 3px;
}
nav .bottom_nav li > ul li {
  display: inline-block;
  width: 100%;
}
nav .bottom_nav li > ul li a {
  text-align: left;
  height: 100%;
  width: 100%;
  color: #ffd059;
  padding: 10px;
  position: relative;
  transition: all 0.1s linear;
}
nav .bottom_nav li > ul li a:hover {
  color: #1e3842;
}
nav .bottom_nav li > ul li:hover {
  color: #1e3842;
}
nav .bottom_nav li > ul li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  transition: all 0.1s linear;
  background-color: #ffd059;
}
nav .bottom_nav li > ul li:hover::before {
  left: 0;
}

.carousel image {
  width: auto;
  height: 100%;
}
.carousel div {
  max-height: 100%;
}
.carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}

.welcome {
  padding: 20px 0;
}
.welcome .welcome_to {
  font-size: 2rem;
  font-weight: 500;
}
.welcome h1 {
  font-weight: 700;
  color: #1e3842;
  font-size: 4rem;
}
.welcome h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  background-color: #ffd059;
}
.welcome .btn {
  background-color: #1e3842;
  color: #fff;
}
.welcome p {
  text-align: justify;
}

.board {
  background: #f5f5f5;
  padding: 30px 0;
}
.board .col > span {
  color: #1e3842;
  font-size: 25px;
  font-weight: 600;
}
.board .col > span::after {
  content: "";
  display: block;
  height: 5px;
  width: 90px;
  background-color: #ffd059;
}
.board h2 {
  font-size: 40px;
  padding: 10px 0;
  color: #1e3842;
  margin-bottom: 25px;
}
.board .col-md-4 {
  box-sizing: border-box;
}
.board .card-date-time {
  background: #1e3842;
  margin: 10px;
  height: calc(100% - 20px);
  text-align: center;
}
.board .card-date-time .date_month {
  background: #ffd059;
  width: 100%;
  height: 60%;
  padding: 10px;
  color: #1e3842;
}
.board .card-date-time .date_month .date {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.board .card-date-time .date_month .month {
  font-size: 1.3rem;
}
.board .card-date-time .year {
  color: #f5f5f5;
  font-size: 1.5rem;
  padding: 10px;
}
.board .btn {
  background-color: #1e3842;
  color: #fff;
}

.admission {
  text-align: center;
  background: #1e3842;
  color: #fff;
  padding: 40px 0;
}
.admission h2 {
  font-size: 2.5rem;
}
.admission .btn {
  margin-top: 20px;
  background-color: #ffd059;
}

.why_ {
  margin: 50px 0px;
}
.why_ span {
  padding: 0;
  color: #264653;
  font-size: 25px;
  font-weight: 600;
}
.why_ span::after {
  content: "";
  display: block;
  height: 5px;
  width: 90px;
  background-color: #ffd059;
}
.why_ h2 {
  font-size: 40px;
  padding: 10px 0;
  color: #264653;
  margin-bottom: 25px;
}
.why_ .card {
  border: 2px solid #1e3842;
  margin-bottom: 30px;
}
.why_ .card img {
  width: 80px;
  margin: 20px auto;
}
.why_ .card h5 {
  color: #1e3842;
}
.why_ .card .btn {
  color: #fff;
  background: #1e3842;
}

footer .footer_top {
  padding: 50px 0;
  background: #2a4f5f;
  color: #fff;
}
footer .footer_top .footer_name_logo {
  font-size: 1.5rem;
}
footer .footer_top .footer_name_logo img {
  width: 15%;
}
footer .footer_top .footer_social ul {
  list-style-type: none;
}
footer .footer_top .footer_social ul li {
  padding: 0;
  width: auto;
}
footer .footer_top .footer_social ul li a {
  font-size: 1.4rem;
  padding: 10px;
}
footer .footer_top .footer_social ul li::before {
  content: "";
}
footer .footer_top ul {
  padding: 0;
  margin-top: 30px;
}
footer .footer_top ul li {
  padding-left: 10px;
  display: inline-block;
  width: 100%;
}
footer .footer_top ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
}
footer .footer_top ul li::before {
  content: "\f101";
  display: inline-block;
  margin-right: 10px;
  color: #ffd059;
}
footer .footer_top p {
  text-align: justify;
}
footer .copyright {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #1e3842;
  color: #fff;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body,
html {
    font-size: 13px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body,
html {
    font-size: 13px;
  }

  .institution_name {
    font-size: 2.5rem !important;
  }

  .main_nav .container {
    padding-bottom: 0 !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body,
html {
    font-size: 14px;
  }

  .board .card-date-time {
    margin: 0;
  }
}
/* small devices (phones, 900px and down) */
@media only screen and (max-width: 900px) {
  nav .toggle {
    display: block !important;
  }
  nav .bottom_nav {
    max-height: 0 !important;
    overflow: hidden;
  }
  nav .bottom_nav li {
    display: block !important;
    text-align: left;
  }
  nav .bottom_nav li a {
    display: block;
    padding: 5px !important;
  }
  nav .bottom_nav li > ul {
    position: static !important;
    max-height: 999px !important;
    width: 100%;
    background: #fff !important;
  }
  nav .bottom_nav li > ul li a {
    padding-left: 40px !important;
    color: #2a4f5f !important;
  }
  nav .bottom_nav li > ul li::before {
    background: transparent !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body,
html {
    font-size: 16px;
  }
}
