.messenger {
    position: fixed;
    bottom: 10%;
    right: 70px;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.messenger img {
    padding: 5px;
    width: 100%;
}

.news_style {
    background-color: #04293a;
}

.news_style h5 button {
    color: white;
}

.news_style h5 button:hover {
    color: #ffc107;
}

.Developer {
    background-color: #04293a;
    color: white;
    text-align: center;
}

.position_dev {
    text-align: center;
}

.position_dev img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.text_color li a {
    color: green;
    font-family: tahoma;
    font-style: italic;
    font-size: 20px;
}

.text_color li a:hover {
    color: white;
    font-family: tahoma;
    font-style: italic;
    font-size: 20px;
    background-color: rgb(126, 113, 113);
    border-radius: 40px;
}

.hover a:hover {
    background-color: green;
}

/* :horizontal scrollbar style */
.scrollbar-x {
    width: 100%;
    overflow-x: scroll;
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 0.3s linear;
}

.scrollbar-thin:hover {
    scrollbar-width: thin;
    scrollbar-color: #394150 transparent;
}

/* scrollbar for chrome */
.scrollbar-thin::-webkit-scrollbar {
    height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 0;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background-color: #394150;
}

.book_action {
    display: flex;
    justify-content: space-around;
}

.book_action a {
    color: #04293a;
    cursor: pointer;
}

/* :horizontal scrollbar style end */

/* Header social media icon */
.icon_hover {
    transition: all 0.2s ease-in-out;
}

.icon_hover a:hover {
    color: #007bff;
}

/* Header social media icon end */
/* marksheet background */