.messenger {
    position: fixed;
    bottom: 30px;
    right: 50px;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.6);
    padding: 3px;
    border-radius: 20%;
    border: 1px solid #ddd;
}
.messenger img{
    height: 100%;
    width: 100%;
}


.news_style {
    background-color: #04293A;
}

.news_style h5 button {
    color: white;
}

.news_style h5 button:hover {
    color: #FFC107
}

.Developer {
    background-color: #04293A;
    color: white;
    text-align: center;
}

.position_dev {
    text-align: center;
}

.position_dev img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}
.text_color li a{
    color:green;
    font-family: tahoma;
    font-style: italic;
    font-size: 20px;
}
.text_color li a:hover{
    color:white;
    font-family: tahoma;
    font-style: italic;
    font-size: 20px;
    background-color:rgb(126, 113, 113);
    border-radius:40px;
}
