@import "partials/_reset";
@import "partials/_variables";

// navigation start
nav {
  .top_nav {
    background: $primary-color;
    color: $bright;
    font-size: 0.9rem;
    width: 100%;
    span,
    a {
      display: block;
      color: $bright;
      text-decoration: none;
    }
    .top_nav_left {
      padding: 12px 0;
      float: left;
    }
    .top_nav_right {
      padding: 12px 0;
      float: right;
    }
    i {
      color: $secondary-color;
      margin-right: 5px;
    }
  }
  .main_nav {
    .container {
      padding: 20px 0;
      img {
        width: 10%;
        height: auto;
        float: left;  
      }
      div {
        display: inline-block;
        padding-left: 20px;
        width: 89%;
        span {
          display: block;
        }
        .institution_name {
          font-size: 3rem;
          color: $primary-color;
          font-weight: 400;
          span {
            display: inline;
            font-weight: 700;
          }
        }
        .institution_motto {
          font-size: 1.3rem;
          color: $primary-color;
          background-color: $bright;
          font-style: italic;
        }
      }
    }
  }
  .toggle {
    display: none;
    text-align: center;
    .toggle_btn {
      font-size: 25px;
      border: 1px solid $primary-color-lighter;
      padding: 5px 30px;
    }
  }
  #toggleTrigger {
    display: none;
  }
  #toggleTrigger:checked ~ .bottom_nav {
    max-height: 9999px !important;
  }
  .bottom_nav {
    text-align: center;
    max-height: 9999px;
    transition: all 0.3s linear;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        color: $primary-color;
        text-decoration: none;
        padding: 15px;
      }
    }
    li::after {
      content: "";
      position: absolute;
      height: 60%;
      width: 1px;
      left: 100%;
      top: 20%;
      background-color: #999;
    }
    li:last-child::after {
      display: none;
    }
    li:hover > ul {
      max-height: 999px;
    }
    li > ul {
      display: inline-block;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      background: $primary-color;
      transition: all 0.2s linear;
      padding: 0;
      min-width: 200px;
      border-radius: 3px;
      li {
        display: inline-block;
        width: 100%;
        a {
          text-align: left;
          height: 100%;
          width: 100%;
          color: $secondary-color;
          padding: 10px;
          position: relative;
          transition: all 0.1s linear;
        }
        a:hover {
          color: $primary-color;
        }
      }

      li:hover {
        color: $primary-color;
      }
      li::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        transition: all 0.1s linear;
        background-color: $secondary-color;
      }
      li:hover::before {
        left: 0;
      }
    }
  }
}
// navigation end

// carousel part
.carousel {
  // height: 70vh;
  image {
    width: auto;
    height: 100%;
  }
  div {
    max-height: 100%;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
  }
}
// carousel part end

// welcome start
.welcome {
  padding: 20px 0;
  .welcome_to {
    font-size: 2rem;
    font-weight: 500;
  }
  h1 {
    font-weight: 700;
    color: $primary-color;
    font-size: 4rem;
  }
  h1::after {
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    background-color: $secondary-color;
  }
  .btn {
    background-color: $primary-color;
    color: $bright;
  }
  p {
    text-align: justify;
  }
}
// welcome end

// board start
.board {
  background: $offwhite;
  padding: 30px 0;
  .col > span {
    color: $primary-color;
    font-size: 25px;
    font-weight: 600;
  }
  .col > span::after {
    content: "";
    display: block;
    height: 5px;
    width: 90px;
    background-color: $secondary-color;
  }
  h2 {
    font-size: 40px;
    padding: 10px 0;
    color: $primary-color;
    margin-bottom: 25px;
  }
  .col-md-4 {
    box-sizing: border-box;
  }
  .card-date-time {
    background: $primary-color;
    margin: 10px;
    height: calc(100% - 20px);
    text-align: center;
    .date_month {
      background: $secondary-color;
      width: 100%;
      height: 60%;
      padding: 10px;
      color: $primary-color;
      .date {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      .month {
        font-size: 1.3rem;
      }
    }
    .year {
      color: $offwhite;
      font-size: 1.5rem;
      padding: 10px;
    }
  }
  .btn {
    background-color: $primary-color;
    color: $bright;
  }
}
// board end

//admission start
.admission {
  text-align: center;
  background: $primary-color;
  color: $bright;
  padding: 40px 0;
  h2 {
    font-size: 2.5rem;
  }
  .btn {
    margin-top: 20px;
    background-color: $secondary-color;
  }
}
//admission end

//why start
.why_ {
  margin: 50px 0px;
  span {
    padding: 0;
    color: #264653;
    font-size: 25px;
    font-weight: 600;
  }
  span::after {
    content: "";
    display: block;
    height: 5px;
    width: 90px;
    background-color: #ffd059;
  }
  h2 {
    font-size: 40px;
    padding: 10px 0;
    color: #264653;
    margin-bottom: 25px;
  }
  .card {
    border: 2px solid $primary-color;
    margin-bottom: 30px;
    img {
      width: 80px;
      margin: 20px auto;
    }
    h5 {
      color: $primary-color;
    }
    .btn {
      color: $bright;
      background: $primary-color;
    }
  }
}
//why end

// footer start
footer {
  .footer_top {
    padding: 50px 0;
    background: $primary-color-lighter;
    color: $bright;
    .footer_name_logo {
      font-size: 1.2rem;
      text-align: center;
      img {
        width: 100px;
        display: block;
        margin: 10px auto;
      }
    }
    .footer_social {
      ul {
        list-style-type: none;
        li {
          padding: 0;
          a {
            font-size: 1rem;
            padding: 10px;
            i {
              width: 30px;
            }
          }
        }
        li::before {
          content: '';
        }
      }
    }
    ul {
      padding: 0;
      margin-top: 30px;
      li {
        padding-left: 10px;
        display: inline-block;
        width: 100%;
        a {
          color: $bright;
          text-decoration: none;
          display: inline-block;
          padding: 5px 0;
        }
      }
      li::before {
        content: "\f101";
        display: inline-block;
        margin-right: 10px;
        color: $secondary-color;
      }
    }
    p {
      text-align: justify;
    }
  }
  .copyright {
    padding: 20px;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $bright;
    text-align: center;
  }
}
// footer end

// responsive
@import "partials/_responsive";